@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is([data-theme=dark] *));
@custom-variant hallowsnight (&:is([data-theme=hallowsnight] *));

@theme {
  --default-font-family: Tektur, monospace;
  --font-tektur: var(--default-font-family);
  --font-new-tegomin: 'New Tegomin', serif;
  --font-body: Tektur, monospace;

  --color-barely-lilac: #EADDFF;
  --color-pompaca-purple: #3C2D63;
  --color-deep-purple: #140d21;
  --color-midnight-purple: #251a3d;
  --color-ebena-lavender: #D0BCFF;
  --color-emoji-eggplant: #381E72;
  --color-dusk-purple: #7C6BA7;
  --color-dna-teal: #00BFA5;
  --color-dna-magenta: #EE8CFF;

  --color-cimo-crimson: #b40202;
  --color-ruzafolio-scarlet: #440606;
  --color-blood-bay-wine: #260000;
  --color-abyss: #050000;
}
