name: Lint and Format

on:
    pull_request:
        # Run on PRs targeting the main branch
        branches: [main]
        types: [opened, synchronize, reopened]

jobs:
    lint-and-format:
        name: Lint and Format
        runs-on: ubuntu-latest
        # Grant permissions to add labels to pull requests
        permissions:
            pull-requests: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: Set up pnpm
              uses: pnpm/action-setup@v4

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "20"
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Lint code with ESLint and Prettier Config
              run: pnpm lint -c ./eslint.config.mjs

              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  GH_REPO: ${{ github.repository }}
